---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Enthusiastic Bioengineering student with a keen interest in Computational Biology and the applications of Artificial Intelligence in Chemical and Biological Engineering. Exhibits a strong sense of responsibility, meticulous attention to detail, and effective teamwork and communication skills. Eager to leverage these qualities to advance knowledge and contribute meaningfully to the field.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="The Hong Kong University of Science and Technology"
      subtitle="09/2018 to 06/2024(Exp.) at Hong Kong"
    />
    <TimeLineElement
      title="Sayfol International School"
      subtitle="02/2017 to 03/2018 at Kuala Lumpur, Malaysia"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="HKUST Undergraduate Research Opportunities Program Research Assistance"
      subtitle="From 06/2022 to 05/2023 at Hong Kong"
      desc="Developed a novel Transformer-based model, advancing the prediction of chemical reaction conditions, thereby streamlining the experimental design process and collected and processed a comprehensive dataset of approximately 5.6 million chemical reactions, optimizing the validation categorical cross entropy loss to approximately 0.4"
    />
    <TimeLineElement
      title="MUTO World Research Intern"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
      desc="- Applied and refined a WGAN-GP model for drug candidate molecules generation, a novel approach to
    
      drug discovery
      
  - Managed the collection and processing of a dataset of 5903 drug molecules, ensuring robust and reliable
      
      model training
      
  - Devised the pipeline for an AI-driven drug discovery process, advancing the efficiency and achieving 67% accuracy of identifying potential drug candidates"
    />
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
      desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
</BaseLayout>
